<li class="bookmark">
  <a href="#" class="open-bookmark" data-url="{{url}}">
    <img src="{{image}}" class="tab-thumbnail">
  </a>
  <a href="#" class="tab-link open-bookmark" data-url="{{url}}">{{title}}</a>
  <div title="Remove this bookmark" class="contextinator-close" data-id="{{id}}">
    <div class="contextinator-close-icon" data-id="{{id}}"></div>
  </div>
</li>
