<li class="email">
  <a class="email-content" target="_blank" href="{{url}}">
    <div class="email-title" href="{{url}}">{{title}}</div>
    <div class="email-summary">{{summary}}</div>
    <div class="email-meta">
      <a title="{{authorEmail}}" href="mailto:{{authorEmail}}" class="email-author-name">{{authorName}}</a>
      <div class="email-time">{{modified}}</div>
    </div>
  </a>
</li>
